<div id="stock-lookup">
	<%= form_tag search_path, remote: true, method: :get, id: 'stock-lookup-form' do %>	
	<div class="form-group row text-center col-md-10">
		<div class="col-md-10">
			<%= text_field_tag :stock, params[:stock], placeholder: 'Input you stock', autofocus: true, class: 'form-control search-box input-lg' %> 
			<% end %>
			<hr>
				<%= submit_tag 'Enviar', class: 'btn btn-lg btn-success' do %>
				<i class="fa fa-search"></i> Search
		</div>
	</div>
	<% end %>
	<% if @stock %>
		<div id="stock-lookup-results" class="well results-block">
			<strong><%= @stock.ticker%></strong>
			<%= @stock.name %>
			<%= @stock.price %>
		</div>
	<% end %>
		<div id="stock-lookup-errors">
		</div>
</div>
